<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.awoshe.slydepaypayment">
    <application>
        <activity
            android:name=".SlydepayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"></activity>

    </application>
</manifest>
